.header {
	margin-top:10%;
}

.section {
	margin-bottom:2%;
}

.app {
	padding-top:5%;
	padding-bottom:5%;
	background: #eaeaea;
}

.fileUpload {
	min-height:200px;
	border: 1px dashed #000;
	margin-bottom:20px;
	position: relative;
}

.dropZone {
	position: absolute;
	z-index: 10;
	min-height:200px;
	width: 100%;
}

.inner {
	padding: 5px;
}

.fileFeedback {
	min-height:200px;
	border: 1px solid #000;
	margin-bottom:20px;
}

.controls button {
	float:right;
}

.optionItem {
	display: inline-block;
	margin-right:10px;
}

.top-image img {
	max-width:250px;
	margin: auto;
}

@media (max-width: 550px) {
	.top-image {
		display: none;
	}
	
}

.top-image {
	text-align: center;
}